<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <div class="text-center">
            <h3 class="masthead-brand">Cover</h3>
        </div>
        <nav class="nav nav-masthead justify-content-center">
            <button class="btn btn-link">
                <a class="nav-link active" href="#">Home</a>
            </button>
            <button class="btn btn-link">
                <a class="nav-link" href="#">Features</a>
            </button>
            <button class="btn btn-link">
                <a class="nav-link" href="#">Contact</a>
            </button>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
        <div class="text-center">
            <h1 class="cover-heading">Cover your page.</h1>
            <div class="lead">
                <p class="text-center">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati temporibus magni blanditiis quis, odio velit eveniet doloremque, dolores quidem consequuntur eos beatae id maiores accusantium, pariatur sed aliquam quasi minima doloribus. Asperiores dolor maxime quia quae fuga, numquam nostrum aperiam distinctio facere consequatur eius est, perspiciatis mollitia reiciendis quidem fugiat fugit reprehenderit pariatur dolores officia aut ipsam? Fuga fugit, expedita, ab soluta ullam laborum nisi voluptates natus adipisci quasi numquam illum illo amet accusamus voluptatem dicta enim ut deleniti aspernatur omnis reiciendis qui dolorem ad? Voluptate minus libero totam magnam vitae! Quos error doloribus repellendus maiores quibusdam quidem, aperiam quae voluptates similique dolores dolore magni libero sunt quaerat iste rerum neque quo, tenetur et aspernatur. Aut ullam soluta nulla sapiente!
                </p>
            </div>
            <p>
                <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
            </p>
        </div>
    </main>

<div class="center">
    <button class="mx-auto" style="width: 200px;" class="btn btn-primary">Button should be red</button>
</div>